html, body {
    margin: 0;
}

body {
    background-color: black;
}

/* -------------------------------------------------------- */
/* Custom Fonts */
/* -------------------------------------------------------- */
@font-face {
    font-family: "Technotot";
    src:url("font/technotot/Technotot.otf");
}

@font-face {
    font-family: "Stjedise";
    src:url("font/star_jedi/stjedise/STJEDISE.TTF");
}

@font-face {
    font-family: "Tech-Headline";
    src: url("font/tech_headlines/Tech\ Headlines.ttf");
}

/* -------------------------------------------------------- */
/* Navbar */
/* -------------------------------------------------------- */
.navbar {
    background-color: rgb(0, 0, 0);
}

#logoImg {
    width: 37px;
    height: 37px;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: "Technotot";
}

/* -------------------------------------------------------- */
/* Full-Screen Video Background Cointainer  */
/* -------------------------------------------------------- */
.fsVidContainer {
    position: relative;
    height: 94.5vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* -------------------------------------------------------- */
/* Full-Screen Background Video */
/* -------------------------------------------------------- */
.fsVidContainer video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------------- */
/* Main Content Except the Nav Bar */
/* -------------------------------------------------------- */
.fsVideoContent {
    width: 100% !important;
}

/* -------------------------------------------------------- */
/* Main-Content */
/* -------------------------------------------------------- */
#custom-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.jumbotron {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 150px;
    box-shadow: inset 0 0 20px 10px rgb(0, 0, 0);
    padding: 2em;
    margin-top:  5rem;
    height: 33em;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    
    /* opacity: .8; */
}

/* -------------------------------------------------------- */
/* Intro-Section */
/* -------------------------------------------------------- */
#intro {
    height: 100%;
}

/* Intro-Section-Font */
h1 {
    font-family: "Stjedise";
    color: white;
    font-size: 4.5rem;
    -webkit-text-stroke: 5.5px black;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.4em;
}

/* Intro-Section-Button */
.btn {
    width: 10rem;
    padding: 20px;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 3rem;
    background-color: white;
    font-family: "Tech-Headline";
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 0/1rem;
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 9px rgb(0, 0, 0);
    outline: none;
}

/* Intro-Section-Button-Hover */
.btn:hover {
    background-color: white;
    color: black; 
}

/* Intro-Section-Button-Clicked */
.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* -------------------------------------------------------- */
/* Questions-Section-Button */
/* -------------------------------------------------------- */

/* Questions-Section-Button */
.submit {
    text-align: center;
}
#submit {
    display: inline-block;
    margin: 1.5em 20%;
    padding: 10px;
    width: 150px;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 0 9px rgb(0, 0, 0);
    outline: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.9rem;
    transition: all 0.1s;
    cursor: pointer;
}

/* Questions-Section-Button-Content-Hidden */
#submit span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}

/* Questions-Section-Button-Content-Shown */
#submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

/* Questions-Section-Button-Hover */
#submit:hover {
    background-color: white;
    color: black;
}

/* Questions-Section-Button-Content-Hover */
#submit:hover span {
    padding-right: 25px;
}

/* Questions-Section-Button-Content-Hover-shown */
#submit:hover span:after {
    opacity: 1;
    right: 0;
}

/* Questions-Section-Button-Content-animation */
#submit:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* -------------------------------------------------------- */
/* Question-Section-Content */
/* -------------------------------------------------------- */

#qBlock {
    display: none;
    margin-top: 1em;
    padding: 1em;
    font-family: "Tech-Headline";
    letter-spacing: 0.15rem;
}

#test_status {
    margin-bottom: 1.3em;
}

#qBlock h2 {
    font-size: 0.9rem;
}

#qBlock #question {
    margin-top: 1.3em;
    margin-bottom: 2em;

}

#multipleChoice {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
}

/* Radio-selectors for Multiple Choice */
input {
    margin-right: 1em;
    width: 20px;
    height: 20px;
}

/* -------------------------------------------------------- */
/* Answer-Section-Content */
/* -------------------------------------------------------- */

#answers {
    display: none;
    margin-top: 0.5rem;
    padding: 2rem;
    font-family: "Tech-Headline";
    letter-spacing: 0.2rem;
}

/* Displays Correct/Incorrect Message */
#answers h2 {
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 3em;
}

/* Displays-Correct-Answer */
#answers h3 {
    padding: .5rem;
    font-size: 1.23rem;
    text-align: left;

}

/* -------------------------------------------------------- */
/* Final-Results-Section-Content */
/* -------------------------------------------------------- */
#results {
    font-family: "Tech-Headline";
    display: none;
    letter-spacing: 0.2rem;
    margin-top: 0;
}
/* Header */
#results h2 {
    /* margin-top:; */
    font-size: 3rem;
}

/* Summary of Results */
#results h3 {
    font-size: 2rem;
    margin: 1.5rem;
}

@media only screen and (min-width: 600px) {
    #logoImg {
        width: 57px;
        height: 57px;
    }
    .navbar a {
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        font-family: "Technotot";
    }
    .jumbotron {
        background-color: rgb(0, 0, 0);
        border: 1px solid black;
        border-radius: 300px;
        box-shadow: inset 0 0 85px 30px rgb(255, 255, 255);
        padding: 2em;
        margin-top:  7rem;
        height: 50em;
        text-align: center;
        outline: none;
        color: rgb(0, 0, 0);
        opacity: .85;
    }
    #intro {
        padding: 60px;
    }
    /* Intro-Section-Font */
    h1 {
        font-family: "Stjedise";
        color: rgb(0, 0, 0);
        font-size: 4.5rem;
        -webkit-text-stroke: 4.5px rgb(255, 255, 255);
        letter-spacing: 0.5rem;
        text-align: center;
    }
    /* Intro-Section-Button */
    .btn {
        width: 10rem;
        padding: 20px;
        border: 0.4rem solid rgb(255, 255, 255);
        border-radius: 25px;
        margin-top: 7rem;
        background-color: white;
        font-family: "Tech-Headline";
        letter-spacing: 0.1rem;
        text-align: center;
        font-size: 1.6rem;
        color: white;
        background-color: black;
        cursor: pointer;
        box-shadow: 0 9px rgb(0, 0, 0);
        outline: none;
    }
    #qBlock {
        display: none;
        margin-top: 1em;
        padding: 3.5em;
        font-family: "Tech-Headline";
        letter-spacing: 0.15rem;
        color: white;
    }
    #qBlock h2 {
        font-size: 2rem;
    }
    #multipleChoice {
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }
    #answers {
        display: none;
        margin-top: 2rem;
        padding: 2rem;
        font-family: "Tech-Headline";
        letter-spacing: 0.2rem;
        color: white;
    }
    /* Displays Correct/Incorrect Message */
    #answers h2 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 3em;
    }
    /* Displays-Correct-Answer */
    #answers h3 {
        padding: .5rem;
        font-size: 2rem;
        text-align: center;

    }
    #results {
        font-family: "Tech-Headline";
        display: none;
        letter-spacing: 0.2rem;
        margin-top: 0;
        color: white;
    }
    #results h3 {
        font-size: 2rem;
        margin: 3.5rem;
    }
    /* Questions-Section-Button */
    #submit {
        display: inline-block;
        margin: 1em 20%;
        padding: 10px;
        width: 150px;
        border: 4px solid black;
        border-radius: 20px;
        box-shadow: 0 9px rgb(0, 0, 0);
        outline: none;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 2rem;
        transition: all 0.1s;
        cursor: pointer;
    }
}